In [125]:
import pandas as pd
import numpy as np

In [2]:
pokemon = pd.read_csv('C:/Users/1233-/Downloads/Pokemon.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/1233-/Downloads/Pokemon.csv'

In [ ]:
pokemon

In [ ]:
def rename_columns(path):
    return path.lower().replace('. ', '_').replace('#', 'id').replace(' ', '_')

pokemon = pokemon.rename(columns=rename_columns)

legends= pokemon.groupby('generation').legendary.value_counts().to_frame()

In [ ]:
legends.rename(columns={'legendary': 'legendary_count'}, inplace=True)

In [ ]:
legends_unstacked = legends.unstack()

In [ ]:
pokemon.head()

In [ ]:
# Делаем сразу датафрейм за счет приминение агрегации и после анстакаем
pokemon.groupby(['generation', 'type_1']).agg({'legendary': 'sum'}).unstack()

In [ ]:
# Применяем unstack к серии, в процессе получим датафрейм
pokemon.groupby(['generation', 'type_1']).legendary.value_counts().unstack() \
    .idxmax()

In [ ]:
pokemon.head()

In [ ]:
pokemon.melt()

## Задание под звездочкой новый датафрейм

In [ ]:
df_super = pd.read_csv('C:/Users/1233-/Downloads/superheroes_power_matrix.csv')

In [ ]:
df_super.head()

In [ ]:
superheroes_long =  df_super.melt(id_vars='Name', var_name='superpower')

In [ ]:
superheroes_powers = superheroes_long.query('value == True').groupby('Name').superpower.apply(list).reset_index()

In [ ]:
superheroes_powers

In [ ]:
superheroes_long =  df_super.melt(id_vars='Name', var_name='superpower')

superheroes_powers = superheroes_long.query('value == True').groupby('Name').superpower.apply(list).to_frame().reset_index()

## Работа с датой

In [9]:
bikc_df = pd.read_csv('C:/Users/1233-/Downloads/bikes_q1_sample.csv')

In [11]:
# Приводим колонку к типу datetime
bikc_df.start_time = pd.to_datetime(bikc_df.start_time)

In [12]:
# Делаем ее индексом датафрейма
bikc_df = bikc_df.set_index('start_time')
bikc_df.shape

(174215, 11)

In [19]:
bikc_df.end_time = pd.to_datetime(bikc_df.end_time)

In [20]:
bikc_df

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,
2018-01-22 20:04:31,17617135,2018-01-22 20:11:53,1131,442.0,471,Francisco Ave & Foster Ave,468,Budlong Woods Library,Subscriber,Female,1949.0
2018-03-16 19:47:59,17897619,2018-03-16 20:04:00,6146,961.0,296,Broadway & Belmont Ave,253,Winthrop Ave & Lawrence Ave,Subscriber,Male,1988.0
2018-03-14 18:49:20,17881307,2018-03-14 18:54:38,3847,318.0,260,Kedzie Ave & Milwaukee Ave,503,Drake Ave & Fullerton Ave,Subscriber,Male,1987.0
2018-03-14 18:33:48,17881130,2018-03-14 19:07:40,1483,"2,032.0",199,Wabash Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Male,1990.0
2018-02-05 17:39:14,17686289,2018-02-05 17:46:13,6391,419.0,596,Benson Ave & Church St,605,University Library (NU),Subscriber,Male,1992.0
...,...,...,...,...,...,...,...,...,...,...,...
2018-02-28 17:16:53,17792363,2018-02-28 17:18:49,2401,116.0,50,Clark St & Congress Pkwy,41,Federal St & Polk St,Subscriber,Male,1991.0
2018-02-08 11:52:44,17695807,2018-02-08 11:58:13,4687,329.0,18,Wacker Dr & Washington St,39,Wabash Ave & Adams St,Subscriber,Male,1979.0
2018-03-22 17:18:21,17938644,2018-03-22 17:24:13,6200,352.0,59,Wabash Ave & Roosevelt Rd,50,Clark St & Congress Pkwy,Subscriber,Male,1968.0
2018-02-20 16:45:07,17738202,2018-02-20 16:57:42,757,755.0,99,Lake Shore Dr & Ohio St,38,Clark St & Lake St,Subscriber,Male,1990.0
2018-01-10 12:08:16,17566765,2018-01-10 12:20:31,4668,735.0,489,Drake Ave & Addison St,500,Central Park Ave & Elbridge Ave,Subscriber,Male,1980.0

In [27]:
# Собираем данные за 1 день и после находим максимальное кол-во аренд в день, для этого агрегируем по count
bikc_df.resample(rule='D').count().end_time.max()

4196

In [39]:
# Новый датафрейм для нового задания
bikes_april = pd.read_csv('C:/Users/1233-/Downloads/bikes_april.csv', parse_dates=['start_time', 'end_time'])

In [40]:
bikes_april = bikes_april.set_index('start_time')

In [41]:
# Группируем по типу и после делаем ресемпл по 1 дню
ned_usertype = bikes_april.groupby('usertype').resample('1d').count()

In [45]:
# Чтобы взять определенное значение от фрейма с мультииндексом нужно в метод передать картеж из значений
ned_usertype.loc[('Subscriber', '2018-04-18'), 'trip_id']

usertype    start_time
Subscriber  2018-04-18    2196
Name: trip_id, dtype: int64

In [46]:
# Импортируем библиотеку для обхода по файлам
from pathlib import Path

In [48]:
path = r'C:\Users\1233-\Downloads\bk'

In [49]:
path_way = Path(path)

In [82]:
bikes = pd.DataFrame()

In [83]:
# считываем данные в один датафрейм
for i in path_way.glob('**/*.csv'):
    
    df = pd.read_csv(i)
    bikes = pd.concat([bikes, df])

In [55]:
bikes.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,18000534,2018-04-01 00:17:00,2018-04-01 00:22:53,1323,353.0,130,Damen Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,Male,1991.0
1,18000536,2018-04-01 00:20:00,2018-04-01 00:26:22,2602,382.0,121,Blackstone Ave & Hyde Park Blvd,351,Cottage Grove Ave & 51st St,Subscriber,Female,1992.0
2,18000538,2018-04-01 00:23:19,2018-04-01 00:35:01,4213,702.0,31,Franklin St & Chicago Ave,180,Ritchie Ct & Banks St,Subscriber,Male,1985.0
3,18000540,2018-04-01 00:24:46,2018-04-01 00:44:23,6401,"1,177.0",596,Benson Ave & Church St,517,Clark St & Jarvis Ave,Subscriber,Male,1974.0
4,18000541,2018-04-01 00:26:04,2018-04-01 00:31:05,6333,301.0,145,Mies van der Rohe Way & Chestnut St,24,Fairbanks Ct & Grand Ave,Subscriber,Male,1984.0

In [56]:
bikes.shape

(964781, 12)

In [84]:
# Делаем преобразование по дате
bikes[['start_time', 'end_time']] = bikes[['start_time', 'end_time']].apply(pd.to_datetime)

In [85]:
# Заводим новый индекс
bikes = bikes.set_index('start_time')

In [86]:
# Групперуем по типу и делаем сэмпл по 1 дню
typ_date_group = bikes.groupby('usertype',) \
            .trip_id \
            .resample('1d').count()

In [87]:
# Разносим значения на две колонки по типу пользователей
typ_date_group = typ_date_group.unstack(level='usertype')

In [88]:
# Через булеву маску находим нужное нам значение
typ_date_group[typ_date_group.Customer > typ_date_group.Subscriber]

usertype    Customer  Subscriber
start_time
2018-05-27      3263        2449
2018-09-02      2752        2183

In [89]:
# Второй вариант через query
(typ_date_group.Customer > typ_date_group.Subscriber).to_frame(name='done').query('done == True')

            done
start_time
2018-05-27  True
2018-09-02  True

In [90]:
bikes.head()

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,
2018-04-01 00:17:00,18000534,2018-04-01 00:22:53,1323,353.0,130,Damen Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,Male,1991.0
2018-04-01 00:20:00,18000536,2018-04-01 00:26:22,2602,382.0,121,Blackstone Ave & Hyde Park Blvd,351,Cottage Grove Ave & 51st St,Subscriber,Female,1992.0
2018-04-01 00:23:19,18000538,2018-04-01 00:35:01,4213,702.0,31,Franklin St & Chicago Ave,180,Ritchie Ct & Banks St,Subscriber,Male,1985.0
2018-04-01 00:24:46,18000540,2018-04-01 00:44:23,6401,"1,177.0",596,Benson Ave & Church St,517,Clark St & Jarvis Ave,Subscriber,Male,1974.0
2018-04-01 00:26:04,18000541,2018-04-01 00:31:05,6333,301.0,145,Mies van der Rohe Way & Chestnut St,24,Fairbanks Ct & Grand Ave,Subscriber,Male,1984.0

In [91]:
# Сохранить наблюдения только за летние месяцы
bikes_summer = bikes.loc[bikes.index[pd.Series(bikes.index.month).isin([6, 7, 8])]]

In [104]:
# Тот же рузультат но более простой сопособ
bikes_summer_2 = bikes.loc['2018-06-01': '2018-08-31']

In [105]:
# Отбираем наиболее популярный путь назначения
bikes_summer.groupby('to_station_name').agg({'to_station_id': 'count'}).to_station_id.idxmax()

'Streeter Dr & Grand Ave'

In [106]:
# Другое решение с аналогичным результатом
bikes_summer.to_station_name.value_counts().idxmax()

'Streeter Dr & Grand Ave'

In [97]:
top_destination = 'Streeter Dr & Grand Ave'

In [107]:
# Груперуем по дню
state_name = bikes_summer.groupby('to_station_name').resample('1d').count()

In [108]:
# Выбираем нужное нам значение
state_name.loc[(top_destination)].trip_id.idxmin().strftime('%Y-%m-%d')

'2018-06-21'

In [103]:
bad_day = state_name.loc[(top_destination)].trip_id.idxmin().strftime('%Y-%m-%d')

In [121]:
bikes_summer_2['day'] = bikes_summer_2.index.day_name()

In [123]:
bikes_summer_2.day.unique()

array(['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday'], dtype=object)

In [124]:
holidays = ['Saturday', 'Sunday']
mondane = ['Friday', 'Monday', 'Tuesday', 'Wednesday','Thursday']

In [126]:
bikes_summer_2['holiday'] = np.where(bikes_summer_2.day.isin(mondane), 1 , 0)

In [130]:
bikes_summer_2.query('day == "Saturday"').to_station_name.value_counts()

Streeter Dr & Grand Ave       3461
Lake Shore Dr & North Blvd    1690
Theater on the Lake           1470
Lake Shore Dr & Monroe St     1232
Millennium Park               1080
                              ...
Ellis Ave & 83rd St              1
Perry Ave & 69th St              1
Halsted St & 47th Pl             1
Damen Ave & 51st St              1
Cicero Ave & Flournoy St         1
Name: to_station_name, Length: 557, dtype: int64

In [131]:
bikes_summer_2.query('holiday == 1').to_station_name.value_counts()

Streeter Dr & Grand Ave         7614
Canal St & Adams St             6142
Clinton St & Washington Blvd    4857
Clinton St & Madison St         4694
Lake Shore Dr & North Blvd      4213
                                ...
Cicero Ave & Flournoy St           2
Laramie Ave & Kinzie St            2
Central Ave & Madison St           1
Throop St & 52nd St                1
Marion St & South Blvd             1
Name: to_station_name, Length: 578, dtype: int64